In [1]:
## IMPORTACIÓN GENERAL DE LIBRERIAS Y VISUALIZACIÓN DE DATOS (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as DT
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')
plt.style.use('default') 
sns.set(style="whitegrid") 
plt.rcParams['figure.figsize'] = (15, 10)

In [2]:
## OBTENEMOS TODA LA INFORMACIÓN DE LOS DIFERENTES CSV.
installs = pd.read_csv('installs.csv')
## OBTENEMOS TODA LA INFORMACIÓN DE LOS DIFERENTES CSV.
events = pd.read_csv('events.csv')
## OBTENEMOS TODA LA INFORMACIÓN DE LOS DIFERENTES CSV.
auctions = pd.read_csv('auctions.csv')
## OBTENEMOS TODA LA INFORMACIÓN DE LOS DIFERENTES CSV.
clicks = pd.read_csv('clicks.csv')

In [3]:
## OBTENEMOS TODA LA INFORMACIÓN DE LOS DIFERENTES CSV.
## target_competencia = pd.read_csv('target_competencia.csv')
## RECIÉN VA A SER UTILIZADO EN EL TP2. (COLUMNAS obj_Sc Y obj_St SON 0)

In [4]:
events['wifi'] = events['wifi'].fillna(False).astype(bool)
events['connection_type'] = events['connection_type'].astype('category')
events['trans_id'] = events['trans_id'].astype('category')
events['date'] = pd.to_datetime(events['date'], infer_datetime_format=True)
##cols = [12,18,19] ##events = events[events.columns[cols]]
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494423 entries, 0 to 2494422
Data columns (total 22 columns):
date                  datetime64[ns]
event_id              int64
ref_type              int64
ref_hash              int64
application_id        int64
attributed            bool
device_countrycode    int64
device_os_version     float64
device_brand          float64
device_model          float64
device_city           float64
session_user_agent    float64
trans_id              category
user_agent            float64
event_uuid            object
carrier               float64
kind                  float64
device_os             float64
wifi                  bool
connection_type       category
ip_address            int64
device_language       float64
dtypes: bool(2), category(2), datetime64[ns](1), float64(10), int64(6), object(1)
memory usage: 352.1+ MB

f3277538-2a0d-46ce-97bd-c5a65f2c675b    1
4c38c512-bd0f-406a-9e11-00c2a2f7fd60    1
c714ee80-84a1-4b46-b38d-da943d1e4f2f    1
a38038ab-8656-4261-b6a7-22894e77de8c    1
880c6f30-ceeb-4293-96f2-ca2b3c34aa20    1
015319bc-0293-4724-aeb3-2c98e6eaedff    1
bd667987-1e45-49aa-8758-ba3f4a3f3a78    1
009d7ae7-73f1-43e9-9fe2-a0ead12f88c1    1
13ef2557-1144-4049-b5f8-f4c1e64ed877    1
e6f823ba-efd6-4579-b3b2-8fab79d07988    1
a9a7f53e-78c2-41d9-a6f1-3aeef7180cf3    1
45fa1338-3c9e-4ed6-bf40-649d8288a7e8    1
d452b520-21dd-41e5-b395-4d0ff0b3e068    1
211bc31c-25b7-4dd7-b175-9b0a0117f298    1
e1bff7f4-e873-46a2-933f-d4defed34965    1
848bc0b0-f55e-42f5-919d-bbfaff6a6ffb    1
13692e64-eb54-4657-82c7-41d45a02d766    1
1cdaf94b-d0e5-4575-8dcb-69c4d29aca13    1
59ad1c3c-8c53-4673-9e99-52b6035a7bc5    1
03aa48a5-6ec8-4534-a560-816183729fb6    1
88522f1d-55ec-476f-adf5-3447b53d0d65    1
4e639eaf-4ba6-4f05-ba12-dc5c4f10b699    1
082b09b5-8912-43cd-8bf0-4caf38a1d84b    1
b70317b2-8d08-4a80-8e75-9985a708a3cb    1
002d20c6-6c46-4f07-92b1-27f5eb3a63ec    1
8275d0c6-bb0b-41ba-b76c-8631bd38161a    1
9a836046-4b2f-4fc1-a8a8-d3de6e58374d    1
73f1df47-2eba-4c52-aaa2-272c7aa2e1b2    1
d3f45b5c-c2f9-4835-8cdd-01020c82dc3f    1
262bfc7e-584c-4e99-b43f-82e78f00de24    1
                                       ..
f2a68256-81b8-424d-9e0a-0627a893bea0    1
78b4f169-d229-4518-aa8b-0898aba81d2e    1
2af38688-cd3f-4278-8e7b-6b6e3a71c7bb    1
1cc6e6f2-d0bf-4f66-b3b0-e864f544e31e    1
4874f208-4a56-457c-b844-f07f100f36cb    1
513e5697-b01f-430f-af06-9e207e5171c1    1
99cc5ed3-34c4-41c8-8745-be2feaffbffc    1
92cc0923-125d-4b1c-8f4f-494681bac831    1
81cd283a-c42e-4c49-91c2-12b0acc4829c    1
a5b1e613-e612-4537-8c6c-314e9d578818    1
9202afbf-43c4-41e8-a7d1-81a1048afe65    1
5a4e5f52-e811-4cb3-a004-0a8d11e04dcc    1
09fe8a38-a134-4fb7-8ce5-b0441a934f8a    1
24d28152-d71b-4121-a97b-759e6df5a3c1    1
28bf2132-f930-4395-a617-1797a108161c    1
db8f0ab6-6632-4b55-851c-2635220a3d78    1
87b77afa-cc5e-4299-bbe0-f77b74ec499b    1
0fd60d72-37af-4645-8484-3a25fbbd54c3    1
5ce97853-f5e9-491c-9f29-d6d315de98c8    1
03ab77f7-3158-4fcb-b41a-d7fcfaf9d44b    1
c3361bb0-aff1-474a-8fbd-062b26a85229    1
c6434f54-3752-4b6b-be96-baee41c5b636    1
d1095268-fbfb-481f-85b3-711ac06b0bec    1
7c8c879d-9318-4bdc-9be3-61a92b997c5b    1
8fbf38b7-4dec-4315-86ae-ff22f58fbc8e    1
37dc7d55-080b-4b43-9e72-f79dd16b5ddb    1
fc2a52bb-c740-4219-9ec3-b39d63c349eb    1
8433d678-4a2a-4899-a3ad-b80962954925    1
10d89ca6-3124-4727-b282-10b43f9b5505    1
132f3e7e-5b86-4d9d-9fae-5839ed9ca3e5    1
Name: event_uuid, Length: 2489324, dtype: int64

In [10]:
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0